.flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexbetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flexEnd {
	display: flex;
	align-items: center;
	justify-content:flex-end;
}
.flexaround {
	display: flex;
	align-items: center;
	justify-content:space-around;
}
.flexitemsend{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.flexstart {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.flexend {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.flexVstart{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}
.flexVcenter{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.flexVaround{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
.flexVbetween{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
.flexVbetweenLstar{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
}
.flexVaroundLstar{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
}

/* 两边对齐底部对齐 */
.flexBetweenVend{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.flexstartVend{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.flexVbetween{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

